body {
  background-color: #333;
  display: block;
  justify-content: center;
  height: 100vh;
  margin: 20px;
  padding: 20px;
}

.content {
  text-align: center;
  margin-bottom: 30px;
}

.header {
  text-align: left;
  margin-top: 30px;
  padding: 10px;
  display: block;
}

.nav {
  width: 10%;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: white;
}

p {
  color: gray;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 20px;
  padding: 20px;
}

.link {
  text-align: center;
  flex: 1 1 calc(50% - 30px);
  max-width: calc(50% - 30px);
  padding: 10px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:visited {
  color: whitesmoke;
}

a:active {
  color: pink;
}

h3 {
  color: whitesmoke;
  margin-top: 5px;
}
