body {
  overflow-y: hidden;
}

.content {
  display: flex;
}
.left {
  width: 50%;
  height: 100vh;
  background-color: white;
  overflow-y: scroll;
  line-height: 300px;
  border: solid;
  border-color: black;
  border-width: 2;
  padding: 30px;
}

.right {
  width: 50%;
  height: 100vh;
  background-color: black;
  overflow-y: scroll;
  line-height: 300px;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  max-height: 50%;
  /* border: solid;
  border-color: rgb(205, 20, 20); */
}

h2 {
  text-align: center;
  background-color: black;
  color: white;
}
