body {
  overflow-y: hidden;
  display: flex;

}
.text{
  align-items: center;
}

.middle {
  display: block;
  width: 100%
}

.left {
  width: 50%;
  height: 100vh;
  background-color: white;
  overflow-y: scroll;
  line-height: 300px;
}

.right {
  width: 50%;
  height: 100vh;
  background-color: aliceblue;
  overflow-y: scroll;
  line-height: 300px;
}

.content {
  align-items: center;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  max-height: 100%;
  /* border: solid;
  border-color: rgb(205, 20, 20); */
}

