body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.dance-container {
  perspective: 1000px;
  margin-left: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 20px;
}

.dance-card {
  width: 600px;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front {
  background-color: #f9f9f9;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #ddd;
  transform: rotateY(180deg);
}

.card-back img {
  max-width: 100%;
  max-height: 100%;
}

.info-card {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #333;
  display: none;
  max-width: 180px;
}

.left-description-card {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #333;
  display: none;
  max-width: 180px;
}
